body {
  margin: 0;
}

@media screen and (max-width: 699px) {

  * {

    font-size: 8px;

  }

  #body_header {
    height: 40vh !important;
  }

  .img-text button {
    left: 37% !important;
    bottom: 7% !important;
  }

  .nav_bar_list li {
    margin: 0 0.5rem 0.5rem 0px !important;
    padding: 0.5rem !important;

  }
  .contact-body input{
    height: 8rem !important;
    width: 100% !important;
  }
  .contact-body button{
    width: auto !important;
  }
  #contact {

  height:auto;



}


}

/* Body header */
#body_header {
  height: 80vh;
  background-image: url(../Static/body_header_img.webp),
    url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
  opacity: 0.8;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-top: -17px;
}

/* text align center */
.text_center {
  text-align: center;
}

/* Nav Bar list */
.nav_bar_list {
  list-style: none;
  padding-left: 0;
}

.nav_bar_list li {
  display: inline-block;
  margin: 0 1rem 1rem 0px;
  padding: 0.5rem;
  font-size: 2rem;
  font-style: normal;
  font-weight: bold;
}

.nav_bar_list li a {
  text-decoration: none;
  color: black;
  transition: color 0.5s, border-bottom 4s;
}

.nav_bar_list li a:hover {
  color: purple;
  border-bottom: 5px solid whitesmoke;
}

/* Image title */
.image_logo {
  position: relative;
  top: -10rem;
}

.name_abhi {
  text-transform: uppercase;
  margin-top: 12rem;
}

.name_abhi h1 {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

/* social icon */
#social_icons {
  margin: 0 0.2rem 0.2rem 0px;
}

#social_icons img {
  height: 1rem;
  width: 1rem;
  box-shadow: 0 10px 20px 0 rgba(230, 196, 196, 0.3);
}

.dp {
  display: flex;
  margin-top: -6rem;
}

.dp img {
  border-radius: 50% 50%;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
  justify-content: center;
  position: relative;
  border: 10px solid red;
  border-spacing: 10px;
  border-left-color: aqua;
  border-right-color: aquamarine;
  border-block-start-color: palevioletred;
}

/* section common css */
section {
  width: 100%;
  /*height: 75vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

section:nth-child(2n) {
  background-color: #9e9b9b29;
}

section:nth-child(2n + 1) {
  background-color: white;
}

/* About section */
.about {
  box-shadow: 0 10px 20px 0 lightgray;
  height: auto;
  width: 100%;
  position: relative;
}

.about p {
  color: grey;
}

.about mark {
  color: #2857a4;
  background-color: unset;
}

/* section heading */
section-heading {
  width: auto;
  padding: 20px 10px 10px;
  font-weight: 400;
}

.section-heading span {
  font-size: 40px;
  color: #2857a4;
  display: inline-block;
  padding-top: 10px;
  margin-right: 0.5rem;
  text-transform: uppercase;
}

/* common margin for section */
.mb75px {
  margin-bottom: 75px;
}

/*common color classes */

.text-highlight {
  color: #2857a4;
  font-weight: 600;
}

/* skills section */
.skills-display {
  width: 70%;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skill-progress {
  width: 10rem;
  height: 1.5rem;
  background-color: lightgrey;
  border-radius: 0.8rem;
  margin: 1rem;
  flex-grow: 1;
}

.skill-progress>div {
  border-radius: 20px 0px 0px 20px;
}

.skill-name span {
  color: white;
  font-size: 1.5rem;
  margin-left: 10px;
  align-content: center;
}

/* for showing value after progress bar */
.per-value {
  border: unset;
  width: 4rem;
  height: inherit;
  margin-left: auto;
  margin-right: auto;
}

.per-value span {
  color: #2857a4;
  font-size: 1.5rem;
  font-weight: 600;
}

/* CSS for portfolio  */
#portfolio_start {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.portfolio-img-container {
  position: relative;
  height: 300px;
  width: 400px;
  margin: 1rem;
  background-color: green;
  border-radius: 10px;
  flex-grow: 1;
}

.portfolio-img-container img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.portfolio-img-container:hover {
  cursor: pointer;
}

.img-text {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: beige;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
}

.portfolio-img-container:hover .img-text {
  opacity: .9;
  visibility: visible;
}

.img-text p {
  display: inline-block;
  position: absolute;
  text-align: center;
  top: 30%;
  font-size: medium;
  font-weight: 600;
  color: #2857a4;
  overflow-wrap: break-word;
  box-sizing: border-box;
  margin-left: 1rem;
  margin-right: 1rem;
}

.img-text button {
  display: flex;
  position: absolute;
  left: 40%;
  bottom: 15%;
  background-color: blueviolet;
  color: white;
  border: 1px solid black;
  text-shadow: 5px 5px blueviolet;
}

.img-text button>a {
  text-decoration: none;
  color: white;

  text-align: center;
  font-size: medium;
  font-weight: 600;
}

/* percentage class */
.eighty-five {
  width: 85%;
  height: inherit;
}

.fourty-five {
  width: 45%;
  height: inherit;
}

.ninety {
  width: 90%;
  height: inherit;
}

.sixty-five {
  width: 65%;
  height: inherit;
}

.seventy-five {
  height: inherit;
  width: 75%;
}

.eighty {
  width: 80%;
  height: inherit;
}

.fourty {
  width: 40%;
  height: inherit;
}

.fourty-five {
  width: 45%;
  height: inherit;
}

.twenty {
  width: 20%;
  height: inherit;
}

/* color classes */
.mb-blue {
  background-color: #2857a4;
}

/* Contact section */
#contact {
  background: linear-gradient(90deg, #2857a4, #403066);
  height: 600px;
  position: relative;


}

#contact .section-heading>span {
  color: white;
}
#contact-content{
   display: inline-block;
}
.contact-body {
  display: flex;
  flex-flow: column;
  position: absolute;
  margin: -490px 3rem 3rem 7rem;
  padding: 10px;
}

.contact-body input {
  width: 30vw;
  height: 3rem;
  margin: 1rem;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-bottom-color: white;
  background: none;
  color: white;
  font-size: 15px;

}

.contact-body input:focus {
  outline: none;
}

.contact-body button {
  background: none;
  margin-top: 2rem;
  padding: 1rem;
  border: 2px solid white;
  color: white;
  font-size: 15px;
  font-weight: 800;
  width: 12rem;
  text-align: center;
  align-self: center;
}
.second_contact_section{
  display: flex;
  flex-flow: column;
  position: absolute;
  margin: -490px 3rem 3rem 7rem;
  padding: 10px;
  left: 40rem;
  color: white;

}
.second_contact_section span{
  color: grey;
  padding: 5px;

}
.second_contact_section span>i{
  margin-right: 5px;
}
footer{
  position: absolute;
  left: -30%;
  bottom: -50%;
}
/* work experience  */
.timeline{
  position: relative;
  /* border: 2px solid black; */
  width: 75%;

}
.timeline-box{
  position:relative;
  min-height: 300px;
  width:40%;
  /* border:2px solid red; */
  margin:5px;
  left:5%;
}

.timeline-box:nth-child(2n)
{
  left:54%;
}
.timeline-divider{
  width: 0;
  top:10%;
  height: 80%;
  position:absolute;
  left: 50%;
  border: 3px solid #0096fa6b;
}
.timeline-traveller{
  position: sticky;
  transform: rotate(90deg);
  top: 25%;
}
.timeline-box:nth-child(2n+1)::after {
    content: '';
    position: absolute;
    top: 19%;
    right: -13%;
    border-radius: 50%;
    width: 0.6rem;
    height: 0.6rem;
    background-color: red;
    z-index: 1;

}


.timeline-box:nth-child(2n)::after {
    content: '';
    position: absolute;
    top: 10%;
    left: -11.5%;
    border-radius: 50%;
    width: 0.6rem;
    height: 0.6rem;
    background-color: red;
    z-index: 1;
}
.timeline-box-content{
position:relative
}
.designation{
  position: absolute;
  top: 15%;
  right: 5%;

}
.designation span{
  display: block;
  font-size: x-large;
  font-weight: 700;
  color: #2857a4;
}
.company-name{
  position: absolute;
  top: 40%;
  right: 5%;
}
.company-name span{
  display: block;
  font-size: large;
  font-weight: 500;
  color: palevioletred;
}
.time-period-work{
  position: absolute;
  top: 60%;
  right: 5%;
}
.time-period-work span{
  display: block;
  font-size: large;
  font-weight: 500;
  color: gray;
}
.work-details{
  position: absolute;
  top: 80%;
  right: 5%;
}
.work-details span{
  display: block;
  font-size: large;
  font-weight: 500;
  color: #541cdaed;
}
.work-detail-paragraph{
  position: absolute;
  top: 100%;
  right: 5%;
}
.work-detail-paragraph p{
  display: block;
  font-size: large;
  font-weight: 500;
  color: gray;
  word-wrap: normal;
  word-spacing: 5px;
   word-break: break-all;
  text-justify:distribute-all-lines;
}
.timeline-box-content-image-1::before{
  content:'';
  background-image: url(./Static/tcs.png);
  display: inline-block;
  height: 100px;
  width: 150px;
  margin: 0.5rem;
  background-repeat: no-repeat;
  background-size: contain;
}
.timeline-box-content-image-2::before{
  content:'';
  background-image: url(./Static/digital\ 24x7.png);
  display: inline-block;
  height: 100px;
  width: 150px;
  margin: 0.5rem;
  background-repeat: no-repeat;
  background-size: contain;
}
.timeline-box-content-image-3::before{
  content:'';
  /* background-image: ; */
  display: inline-block;
  height: 100px;
  width: 150px;
  margin: 0.5rem;
  background-repeat: no-repeat;
  background-size: contain;
}
.timeline-box-content-image-4::before{
  content:'';
  /* background-image: url(./Static/digital\ 24x7.png); */
  display: inline-block;
  height: 100px;
  width: 150px;
  margin: 0.5rem;
  background-repeat: no-repeat;
  background-size: contain;
}
/* Learning path */
.timeline-box-1{
  position:relative;
  min-height: 100px;
  width:40%;
  /* border:2px solid red; */
  margin:5px;
  left:5%;
}

